<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-8">
                <nav class="menu" role="nav">
                    <li><a href="/index.html">主页</a></li>
                    <li>|</li>
                    <li><a target="_blank" href="https://github.com/mm12432">Github</a></li>
                    <li>|</li>
                    <li><a target="_blank" href="/about.html"> 关于我</a></li>
                </nav>
            </div>
        </div>
    </div>
</div>