<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-8">
                <nav class="navbar navbar-default">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#1st" data-toggle="tab">首页</a></li>
                            <li><a href="#2nd" data-toggle="tab">关于我</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>