--- 
layout: default 
---
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-4">
      <div class="deviter"></div>
      <h3 class="title with-icon"><span class="glyphicon glyphicon-list-alt cat-title "></span> 博客目录</h3>
      <div class="grid-block">
        <ul class="list-unstyled list-menu">
          {% for post in site.posts %} 
          <li>
            <i class="glyphicon glyphicon-bookmark"></i> <a href="{{ post.url }}">{{ post.title }}--{{ post.time }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>